<%- include('./partials/head.ejs') %>

<main>
  <h1><%= squad.name %></h1>

  <a href="/?squad=<%= squad.slug %>"><%= squad.name %></a>
  <section>
    <!-- Hier komen de members -->
    <% squad.members.forEach(member => { %>
    <article>
      <% if (member.avatar) { %>
      <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
      <% }else{ %>
      <img src="/placeholder.jpg" alt="Placeholder avatar" />
      <% } %>

      <h2><%= member.name %> <%= member.prefix %> <%= member.surname %></h2>
    </article>
    <% }) %>
  </section>
</main>

<%- include('./partials/foot.ejs') %>
