<%- include('./partials/head.ejs') %>

  <h2>
    <%= squad.name %>
  </h2>
  <main>
    <!-- Hier komen de members -->
    <section class="students-wrapper">
      <% squad.members.forEach(member=> { %>
        <a href="<%= member.website %>">
          <article>
            <% if (member.avatar) { %>
              <img src="<%= member.avatar %>" alt="De avatar van <%= member.name %>" />
              <% }else{ %>
                <img src="/placeholder.jpg" alt="Placeholder avatar" />
                <% } %>
                  <h3>
                    <%= member.name %>
                      <%= member.prefix %>
                        <%= member.surname %>
                  </h3>
          </article>
        </a>
        <% }) %>
    </section>

    <div class="filters">
      <div class="squad-filter">
        <h4>Selecteer een squad <span>:</span></h4>
        <a href="/?squad=squad-a-2022">Squad A</a>
        <a href="/?squad=squad-b-2022">Squad B</a>
        <a href="/?squad=squat-c-2022">Squad C</a>
      </div>
      <div class="sort-filter">
        <h4>Sorteer studenten <span>:</span></h4>
        <a href="/?squad=<%= squad.slug %>&orderBy=name">Sorteer op voornaam</a>
        <a href="/?squad=<%= squad.slug %>&orderBy=surname">Sorteer op achternaam</a>
      </div>
    </div>

  </main>

  <%- include('./partials/foot.ejs') %>